.hero {
  height: 100vh;
  /* width: 100vw; */
  background-image: url("../assets/imgs/pexels-işıl-15707373.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  filter: grayscale(0);
}
